body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centerText {
  text-align: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeImage {
  width: 500px;
}

.booksImage {
  width: 200px;
  height: 200px;
}

.book {
  margin: 20px;
}
